<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commands | Kharat Bot</title>

    <link rel="stylesheet" href="/css/commands.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
   <div class = "container">
    <%- include('partials/navbar') %>

    <main>  
        
            <div><h1 >
            available commands :
        </h1>
        </div>
        </section>
        <section class="box">
    

             <section class="commands">


    <ul class="command-list">
        <li><strong>ban</strong> – Ban a member from the server.</li>
        <li><strong>kick</strong> – Kick a member from the server.</li>
        <li><strong>timeout</strong> – Temporarily timeout a member.</li>
        <li><strong>gulag</strong> – Send a member to the Gulag (assigns a role).</li>
        <li><strong>forgive</strong> – Remove a member from the Gulag.</li>
        <li><strong>gulagchannelid</strong> – Set the Gulag channel.</li>
        <li><strong>gulagrole</strong> – Set the Gulag role.</li>
        <li><strong>prefix</strong> – View the server prefix.</li>
        <li><strong>cgprefix</strong> – Change the current prefix.</li>
    </ul>
    <h2>more commands will be added in future with search option .</h2>

</section>
        </section>
        </div>

   
    </main>

    

  

</body>
</html>