<!DOCTYPE html>
<html lang = "en">
  <head>

    <title>Home | Kharat</title>
    
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    
    
    

  </head>
<body>
  <div class="container">
    <%- include("partials/navbar") %>

    <section class="hero">

        <div class="hero-left">

            <div class="badge">
                CUSTOMIZABLE • RELIABLE • FREE
            </div>

            <h1>
                The only free discord bot you need,
                <span>Premium for free.</span>
            </h1>

            <p>
                Bot is in early stage , all the promised features 
                will be available in  near future . check <a href = '/features'>features</a>
                for current state of the bot .
            </p>

            <div class="buttons">
                <a href="https://discord.com/oauth2/authorize?client_id=1402185475162374265" class="primary">Invite Bot</a>
                <a href="/commands" class="secondary">View Commands</a>
            </div>

            <div class="status">
                🟢 Bot is online 
            </div>

        </div>

        <div class="hero-right">
            <div class="bot-card">
                 <img src="/images/talk.png" alt="Kharat Bot Logo">
            </div>
        </div>

    </section>
  </div>
</body>

</html>