  <nav>
        <div class="logo">Kharat Bot</div>

        <div class="links">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="#">Commands</a>
            <a href="#">Docs</a>
            <a href="#">Support</a>
        </div>

        <a href="#" class="invite-btn">Add To Discord</a>
    </nav>