  <nav>
        <div class="logo">Kharat Bot</div>

        <div class="links">
            <a href="/">Home</a>
            <a href="/features">Features</a>
            <a href="/commands">Commands</a>
            <a href="/docs">Docs</a>
            <a href="/support">Support</a>
        </div>

        <!--<a href="/login" class="invite-btn">Add To Discord</a> -->
    </nav>